/*
        SPACING SYSTEM (px)
        2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

        FONT SIZE SYSTEM (px)
        10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI",
    Tahoma, Arial, sans-serif; */
  font-family: "DM Sans", sans-serif;
  color: #1d1d1d;
}

.container {
  width: 1230px;
  margin: 0 auto;
}

header {
  height: 122vh;
  background-color: #f6efe8;
}

/*NAVIGATION*/
nav {
  height: 80px;
  font-size: 15px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 16px;
}

.tab {
  padding: 4px;
}
.tab:hover {
  text-decoration: underline;
  cursor: pointer;
  /* NOTE: MOVES UNDERLINE */
  text-underline-offset: 4px;
}

.tab-sign {
  margin: 0 8px 0 16px;
}
.product-tab {
  display: flex;
  align-items: center;
  gap: 4px;
}

.search-icon {
  stroke: #1d1d1d;
  width: 24px;
  height: 24px;
  margin-left: auto;
}

.search-icon:hover {
  cursor: pointer;
}

.down-icon {
  fill: #1d1d1d;
  width: 16px;
  height: 16px;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  color: #611f69;
  letter-spacing: 0.8px;
  border: 1px solid #611f69;
  padding: 10px 13px;
  border-radius: 4px;
}

.btn:hover,
.btn:active {
  box-shadow: inset 0 0 0 1px #611f69;
  /* MAKES THE BOX SHADOW FADE IN */
  transition: box-shadow 420ms cubic-bezier(0.165, 0.84, 0.44, 1),
    color 420ms cubic-bezier(0.165, 0.84, 0.44, 1),
    background 420ms cubic-bezier(0.165, 0.84, 0.44, 1);
  /* NOTE: RESEARCH MORE ON */
}

.btn-sales:link,
.btn-sales:visited {
  margin-left: 8px;
}

.btn-free:link,
.btn-free:visited {
  color: #fff;
  background-color: #5f1068;
}

.btn-free:hover,
.btn-free:active {
  background-color: #40064e;
}

.slack-logo {
  padding-right: 16px;
  width: 117px;
}

.slack-logo:hover {
  cursor: pointer;
}
/* BLUE BAR SECTION */

.blue-bar-link {
  display: flex;
  align-content: center;

  padding: 13px 16px 13px 16px;

  text-decoration: none;
  color: #fff;
  background-color: #1265a3;
  border-radius: 60px;
}

.container-2 {
  width: 1300px;
  margin: 0 auto;
}

.apply-link {
  margin-left: 8px;
  margin-right: 4px;
  border-bottom: 1px solid #fff;
  font-weight: 700;
  font-size: 18px;
}

.apply-content {
  width: 450px;
  margin-left: 25px;
  line-height: 1.5;
  font-size: 18px;
}

.apply-content-first {
  font-weight: 700;
}

.x-blue {
  width: 16px;
  height: 16px;
  fill: #fff;
  margin-left: auto;
  margin-right: 29.5px;
  margin-top: 17px;
}

/* CALL TO ACTION SECTION */
.google-icon {
  width: 21px;
  height: 21px;
  flex: 0 0;
}

.google {
  padding: 11px 12px;
  border-radius: 4px;
  background-color: #fff;
}

.btn-action {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 12px;
}

.btn-google:link,
.btn-google:visited {
  /* CHANGE LATER */
  /* NOTE: BEHAVES LIKE BOTH INLINE BLOCK AND FLEX */
  display: inline-flex;
  align-items: center;
  gap: 8px;
  width: 256.31px;
  height: 57px;

  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 4px;
  color: #fff;
  background-color: #4285f4;
  border: none;
}

.btn-google:hover,
.btn-google:active {
  transition: none;
  color: #4285f4;
  background-color: #fff;
  box-shadow: inset 0 0 0 2px #4285f4;
  /* MAKES THE BOX SHADOW FADE IN */
  transition: box-shadow 420ms cubic-bezier(0.165, 0.84, 0.44, 1),
    color 420ms cubic-bezier(0.165, 0.84, 0.44, 1),
    background 420ms cubic-bezier(0.165, 0.84, 0.44, 1);
  /* NOTE: RESEARCH MORE ON */
}

.btn-free-action:link,
.btn-free-action:visited {
  display: inline-flex;
  align-items: center;

  height: 57px;
  padding: 0 44px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.8px;
  color: #fff;
  background-color: #5f1068;
}

.btn-free-action:hover,
.btn-free-action:active {
  background-color: #40064e;
}

.call-to-action {
  display: grid;
  align-items: center;
  justify-items: left;
  /* CHANGE LATER */
  margin-top: 30px;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

h1 {
  font-size: 60px;
  margin-bottom: 24px;
  margin-right: 160px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: normal;
}

.action-p {
  font-size: 18px;
  margin-right: 142px;
  margin-bottom: 32px;
  line-height: 1.8;
}

/* FEATURED COMPANIES */
.icon {
  margin: 10px;
}

.fox-icon {
  height: 30px;
}

.lonely-icon {
  height: 68px;
}

.carvana-icon {
  height: 47.66px;
}

.deva-icon {
  height: 30px;
}

.target-icon {
  height: 35px;
}

.kiva-icon {
  height: 34.4px;
}

.intuit-icon {
  height: 37px;
}

.featured-companies {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* CHANGE LATER */
  margin-top: 60px;
}

/* VIDEO SECTION */
.youtube-button {
  background-color: #37c4f0;
  border-radius: 4px;
  width: 84px;
  height: 59px;

  grid-column: 1/2;
  grid-row: 1/2;
  /* THIS CHANGES THE ORDER OF THE PICTURE OVERLAPPING */
  z-index: 1;
}

.youtube-icon:hover,
.youtube-icon:active {
  background-color: #1264a3;
  border-radius: 4px;
}

.youtube-video {
  width: 510px;
  height: 300px;
  grid-column: 1/2;
  grid-row: 1/2;
}

.video {
  width: 300px;

  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

.video-section {
  display: grid;
  /* CHANGE LATER*/
  margin-top: 48px;
  grid-template-columns: 1fr 1fr;

  align-items: start;
  justify-items: left;
}

h2 {
  font-size: 32px;
  margin-bottom: 16px;
  font-weight: 700;
}

.video-h2 {
  padding-right: 32px;
}

.video-text {
  font-size: 16px;
  margin-right: 128px;
}

.video-content {
  margin-top: 32px;
  margin-right: 50px;
  margin-bottom: 16px;
}

.btn-video:link,
.btn-video:visited {
  display: inline-flex;
  align-items: center;

  height: 57px;
  padding: 0 44px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.8px;
  margin-top: 16px;
  color: #5f1068;
}

.btn-video:active {
  color: #fff;
  background-color: #5f1068;
}

/* CHANNEL SECTION */
.description-time {
  display: flex;
  align-items: flex-start;

  font-size: 14px;
  width: 225px;
  justify-content: space-between;
}

.channel-time {
  font-weight: 700;
}

.youtube-play-icon {
  /* CHANGE LATER */
  background-color: #37c4f0;
  border-radius: 4px;

  /* THIS CHANGES THE ORDER OF THE PICTURE OVERLAPPING */
  z-index: 1;
}

.youtube-play-icon:hover,
.youtube-play-icon:active {
  background-color: #1264a3;
  border-radius: 4px;
  cursor: pointer;
}

.youtube-triangle {
  transform: scale(0.75);
}

.channel-video {
  width: 225px;
  height: auto;
  border-radius: 6px;
}

.channels-videos {
  display: grid;
  grid-template-columns: 225px 225px;
  align-items: end;
  justify-items: right;
  gap: 10px 50px;
  margin-top: 40px;
}

.channel-video-1,
.youtube-channel-icon-1 {
  grid-column: 1/2;
  grid-row: 1/2;
}

.channel-video-2,
.youtube-channel-icon-2 {
  grid-column: 2/3;
  grid-row: 1/2;
}

.channels-videos {
  position: relative;
}
.youtube-play-icon {
  position: absolute;
  transform: translate(-15%, -20%);
}

.yarn-animation {
  /* YARN ANIMATION */
  max-height: 450px;
  width: auto;

  padding-left: 64px;
}

.channels-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 168px;
  margin-top: 96px;
}

.channels-info {
  padding-right: 48px;
}

.channel-text {
  font-size: 18px;
  padding-bottom: 16px;
}

.animation-link:link,
.animation-link:visited {
  font-size: 18px;
  text-decoration: none;
  color: #1264a3;
}
.animation-link:hover,
.animation-link:active {
  /* ANIMATED UNDERLINE */
  border-bottom: 2px solid #1264a3;
  transition: border-bottom 420ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* FOCUS SECTION */
.focus-youtube-video {
  width: 225px;
  height: auto;
  border-radius: 6px;
}

.focus-videos {
  display: grid;
  grid-template-columns: 225px;
}

.folder-video {
  max-height: 450px;
  width: auto;
}

.focus-section {
  margin-top: 136px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.focus-content {
  padding-left: 16px;
}

.focus-text {
  padding-right: 128px;
  padding-bottom: 16px;
  font-size: 18px;
}

/* SIMPLIFY SECTION */
.simplify-text {
  padding-right: 16px;
}

.simpify-info {
  padding-right: 0;
}

.simplify-animation {
  padding-left: 80px;
}

.simplify-section {
  margin-top: 128px;
  padding-bottom: 128px;
}

/* MAIN SECTION */
.main-content {
  height: 123vh;
  background-color: #f6efe8;
}

.headline {
  font-size: 50px;
  text-align: center;
  padding-top: 80px;
}

.slack-link:link,
.slack-link:visited {
  text-decoration: none;
  color: #1265a3;
  border-bottom: 1px solid #1264a3;
  font-weight: 500;
}

.slack-link:hover,
.slack-link:active {
  border-bottom: 2px solid #1264a3;
}

.list-text {
  display: inline;
  font-size: 18px;
  line-height: 1.5;
}

.list-title {
  font-size: 18px;
  font-weight: 700;
}

.number-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #40064e;
  border-radius: 4px;
  color: #fff;
  margin-bottom: 32px;
  font-size: 24px;
}

.number-icon:hover {
  cursor: default;
}

ul {
  width: 390px;
  padding: 32px 24px;
  list-style-type: none;
}

li {
  margin-bottom: 16px;
}

.headline-content {
  display: flex;
  justify-content: space-between;
}

/* CARD SECTION */
.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;

  height: 420px;
  width: 285px;
  background-color: #fff;
  box-shadow: 0 0 16px rgba(0, 0, 0, 15%);

  /* NOTE: THIS MAKES THE CARDS FADE OUT */
  transition: all 0.2s ease-in-out;
}

.card-background {
  display: inline-block;
  border: 2px dotted #000;
  padding: 4px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 48px rgba(0, 0, 0, 15%);
  cursor: pointer;
}

.card:first-child {
  padding-left: -15px;
}

.card-image {
  width: 261px;
  grid-column: 1/-1;
  grid-row: 1/-1;
}

.card-image-holder {
  padding-top: 12px;
  display: grid;
  grid-template-columns: 261px;
  justify-content: center;
}

.on-demand {
  color: #fff;
  background-color: #000;
  font-size: 14px;
  font-weight: 700;
  padding: 8px;

  align-self: end;
  grid-column: 1/-1;
  grid-row: 1/-1;
}

.card-content {
  display: flex;
  flex-direction: column;
  width: 261px;
  margin-left: 12px;
}

.card-label {
  font-size: 14px;
  color: #454245;
  padding-top: 18px;
}

.card-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  padding-top: 10px;
}

.card-link-template {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-link {
  text-decoration: none;
  color: #1265a3;
  font-size: 14px;
  font-weight: 700;

  margin-top: 102px;
}

.card-link-extra {
  margin-top: 74px;
}

.card-arrow-link {
  transform: scale(3);
  padding-right: 10px;
  padding-bottom: 2px;
}

.card-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
}

/* WELCOME SECTION */

.welcome-section {
  background-color: #4a154b;
  height: 370px;

  /* NOTE: ACTS LIKE BORDER-RADIUS */
  clip-path: ellipse(75% 100% at center top);
}

.welcome-content {
  display: grid;
  justify-items: center;

  grid-template-columns: 1fr;
  padding-top: 115px;
}

.welcome-title {
  font-size: 50px;
  color: #fff;
  padding-bottom: 16px;
}

.welcome-btns {
  display: flex;
  gap: 8px;
}

.free-btn,
.sales-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 183.73px;
  height: 56.99px;

  font-size: 14px;
  font-weight: 700;
}

.free-btn:link,
.free-btn:visited {
  background-color: #fff;
}

.free-btn:hover {
  /* NOTE: INSET MAKES THE SHADOW ON THE INSIDE */
  box-shadow: inset 0 0 0 2px #611f69;

  /* MAKES THE BOX SHADOW FADE IN */
  transition: box-shadow 420ms cubic-bezier(0.165, 0.84, 0.44, 1),
    color 420ms cubic-bezier(0.165, 0.84, 0.44, 1),
    background 420ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.free-btn:active {
  background-color: #611f69;
  color: #fff;
}

.sales-btn:link,
.sales-btn:visited {
  color: #fff;
  box-shadow: inset 0 0 0 1px #fff;
}

.sales-btn:hover {
  box-shadow: inset 0 0 0 2px #fff;

  /* MAKES THE BOX SHADOW FADE IN */
  transition: box-shadow 420ms cubic-bezier(0.165, 0.84, 0.44, 1),
    color 420ms cubic-bezier(0.165, 0.84, 0.44, 1),
    background 420ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.sales-btn:active {
  color: #611f69;
  background-color: #fff;
}

/* FOOTER LIST */
.footer-list-title {
  font-weight: 700;
  font-size: 14px;
}
.footer-list-items:link,
.footer-list-items:visited {
  text-decoration: none;
  color: #454245;
  font-size: 14px;
}

.footer-list-items:hover {
  color: #1264a3;
}

li {
  margin-bottom: 18px;
}

.footer-list {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;

  margin-top: 24px;
  border-bottom: 2px solid #eceaeb;
}

.logo-icon {
  transform: scale(2);
  margin-right: 140px;
  margin-top: 32px;
}

/* FOOTER SOCIALS */
.socials-links:link,
.socials-links:visited {
  text-decoration: none;
  color: #1d1d1d;
  font-size: 14px;
  font-weight: 700;

  margin-right: 14px;
}
.socials-links:hover,
.socials-links:active {
  color: #1264a3;
  fill: #1264a3;
}

.download-link {
  margin-left: auto;
  padding-right: 16px;
}

.download-link:link,
.download-link:visited {
  color: #1264a3;
}

.footer-socials {
  display: flex;
  align-items: center;

  margin-top: 30px;
  padding-bottom: 32px;
}

.socials-icons-links {
  width: 16px;
  height: 16px;
}

.socials-icons-links:hover,
.socials-icons-links:active {
  fill: #1264a3;
}

.change-region-link,
.download-link {
  display: flex;
  align-items: center;
}

.change-region-link:hover,
.change-region-link:active {
  color: #1265a3;
  fill: #1265a3;
}

.download-icon {
  margin-right: 4px;
  fill: none;
}

.globe-icon {
  fill: #454245;
  margin-right: 4px;
  width: 18px;
  height: 18px;
}

/* FOOTER */
.footer {
  color: #454245;
  font-size: 12px;
  text-align: center;
  padding-bottom: 32px;
}

/* ALERT ICON */

.hand-icon {
  display: flex;

  font-size: 38px;
  height: 56px;
  width: 56px;
  border-radius: 5px;
  position: fixed;
  background-color: #5f1068;
  box-shadow: 0 0 8px 4px rgb(0 0 0 / 16%);

  right: 36px;
  bottom: 36px;

  /* THIS CHANGES THE ORDER OF THE PICTURE OVERLAPPING */
  z-index: 2;
}

.speechbox-icon:before {
  /* NOTE: THIS CHANGES THE SPEECHBOX */
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #fff;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  right: -20px;
  bottom: 8px;

  /* THIS CHANGES THE ORDER OF THE PICTURE OVERLAPPING */
  z-index: 1;
}

.speechbox-icon {
  max-height: 96px;
  max-width: 220px;
  line-height: 20px;

  background: #fff;
  padding: 12px 24px 12px 12px;
  box-shadow: 0 8px 8px 0px rgb(0 0 0 / 16%);
  text-align: left;
  position: relative;
  position: fixed;
  bottom: 36px;
  right: 104px;
  border-radius: 4px;

  /* THIS CHANGES THE ORDER OF THE PICTURE OVERLAPPING */
  z-index: 1;
}

.x {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 80px;
  right: 330px;

  border-radius: 50%;
  border: 1px solid #fff;

  width: 20px;
  height: 20px;
  padding: 2px;
  background-color: #868e96;

  /* THIS CHANGES THE ORDER OF THE PICTURE OVERLAPPING */
  z-index: 1;
}

.x:hover {
  background-color: #343a40;
  cursor: pointer;
}

/* HIDES ICON */
.hidden {
  display: none;
}
